<div class="main-container">
    <h2>Zmień hasło</h2>
    
    <mat-form-field appearance="legacy">
        <mat-label>Stare hasło</mat-label>
        <input matInput type="password" [formControl]="oldPassword" required/>
    </mat-form-field>
    
    <mat-form-field>
        <mat-label>Nowe hasło</mat-label>
        <input matInput type="password" [formControl]="newPassword" required />
    </mat-form-field>

    <div *ngIf="error" class="alert alert-error">{{error}}</div>

    <button mat-stroked-button color="primary" (click)="onChange()" [disabled]="!(oldPassword.value && newPassword.value)">
        Zmień hasło
    </button>
    <button mat-raised-button color="primary" (click)="onCancel()">
        Anuluj
    </button>
</div>


<app-spinner-dialog *ngIf="loading"></app-spinner-dialog>
