.picture {
    cursor: pointer;
    height: 45px;
    padding: 2px 0px;
}

table {
    width: 100%;
}

.mat-column {
    &-name {
        min-width: 200px;
        max-width: 200px;
    }
    &-type {
        min-width: 200px;
        max-width: 200px;
    }
    &-inCart {
        min-width: 200px;
        max-width: 200px;
    }
    &-price {
        min-width: 200px;
        max-width: 200px;
    }
}
